.login_div1 
{

        
		background: greenyellow;
		padding: 10px;
        float: none;
		border-radius: 15px;
}

.login_div2
{
    background: greenyellow;
    padding: 10px;
    float: none;
    border-radius: 15px;
}

#bg2
{
    background-color: aqua;
    
    
}


